modules = ["python-3.11", "openjdk17", "java-jdk-17"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "gradle", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "nano", "openjpeg", "tcl", "tk", "zlib", "zulu17"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "QR Code Server"

[[workflows.workflow]]
name = "QR Code Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python flask_qr_server.py"
waitForPort = 5000

[[workflows.workflow]]
name = "Android Build and Test"
author = 37115865
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./simplified_build.sh debug"

[deployment]
run = ["sh", "-c", "cd onboard && pip install -r requirements.txt && python camera_server.py"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 5555
externalPort = 3002

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8001
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080
